#product{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.headerr1{
    text-align: center;
}
.card{
    min-width: 350px;
    min-height: 300px;
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px #ddd;
    margin: 10px;
    transition: 0.5s linear;
}
.card:hover{
    box-shadow: none;
}
.card img{
    max-width: 330px;
    width: 100%;
    height: 90%;
    max-height: 260px;
    display: block;
    object-fit: cover;
}
.card h3{
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
}
.card span{
    color: crimson;
    text-align: center;
}

.headerr2{
    text-align: center;
}

